@font-face {
    font-family: "DidactGothic";
    src: url("../media/DidactGothic-Regular.ttf");
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'DidactGothic', serif;
    height: calc(100% - 1em);
    color: #555;
    overflow: hidden;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.search-engine-container {
    margin: auto;
    position: relative;
    width: 85%;
    height: 90%;
    display: inline-block;
}

.title-container {
    text-align: center;
    font-size: 10px;
}

.input-container {    
    display: inline-block;
    width: 98.5%;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.1%;
    border: 1px #333 solid;
    border-style: dotted;
    padding-left: 1%;
}

.wrapper {
    display: inline-block;
    padding-right: 1%;
}

.result-container {
    width: 99.5%;
    height: 79%;
    display: inline-block;
    overflow: auto;
    border: 1px #333 solid;
    border-style: dotted;
}

.result-box-single {
    background-color: rgb(223, 228, 238);
    margin: 1%;
    padding: 1%;
}

.result-title {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 18px;
}

.result-infos {
    display: inline;
}

.result-infos .first-element {
    padding-right: 20%;
}

.result-infos .mid-element {
    padding-right: 20%;
}

.result-metrics {
    margin-top: 1%;
    margin-bottom: 0;
}

button {
    background-color: #4CAF50;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: 'DidactGothic', serif;
    transition-duration: 0.4s;
}

.checkbox {
    cursor: pointer;
}

input {
    font-size: 13px;
    font-family: 'DidactGothic', serif;
    text-indent: 2%;
}

/* code reference: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.version-switch-container {
    position: absolute;
    height: 25px;
    width: 350px;
    padding: 10px;
}

.error-container {
    color: black;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.error-message {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 3%;
    width: 60%;
    text-align: center;
}

.error-message>button {
    margin-left: 3%;
}

.hidden {
    display: none;
}

.info-icon {
    z-index: 2;
    position: fixed;
    font-size: 30px;
    left: 1%;
    top: 5%;
}

.info-icon:hover {
    background-color: #69c08f;
    cursor: pointer;
}

.modal {
    color: black;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}
.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 3%;
    width: 60%;
}
.modal-list {
    margin-bottom: 5%;
}

.button-close-modal {
    padding: 1em 2em;
    margin: auto;
    display: block;
}